kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx-config
  labels:
    app: belajar-ci
data:
  nginx.conf: |
    events {
    }
    http {
      server {
        listen 80 default_server;
        listen [::]:80 default_server;
        
        # Set nginx to serve files from the shared volume!
        root /var/www/html;
        server_name _;
        location / {
          try_files $uri $uri/ =404;
        }
        location ~ \.php$ {
          include fastcgi_params;
          fastcgi_param REQUEST_METHOD $request_method;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          fastcgi_pass 127.0.0.1:9000;
        }
      }
    }

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: belajar-ci-app
spec:
  template:
    metadata:
      labels:
        app: belajar-ci
        tier: web
    spec:
      volumes:
      - name: shared-files
        emptyDir: {}
      - name: nginx-config-volume
        configMap:
          name: nginx-config
      containers:
        - image: zokypesch/my-php-example:latest #ini repo pribadi gw ada di docker hub
          name: app
          volumeMounts:
            - name: shared-files
              mountPath: /var/www/html
          lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "cp -r /app/. /var/www/html"]
        
        - image: nginx:1.7.9
          name: nginx
          volumeMounts:
            - name: shared-files
              mountPath: /var/www/html
            - name: nginx-config-volume
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf

---

apiVersion: v1
kind: Service
metadata:
  name: belajar-ci-app-service
  labels:
    app: belajar-ci
spec:
  selector:
      app: belajar-ci
      tier: web
  type: LoadBalancer
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 80